.card {
  padding-left: 52px;
  background-position: top left;
  background-repeat: no-repeat;

  &__title {
    font-size: 18px;
    line-height: 22px;
    color: $tifany;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 22px;
    color: #8476AA;
  }
}